@mixin transform($t) {
  -webkit-transform: $t;
  -ms-transform: $t;
  transform: $t;
  -moz-transform: $t;
  -o-transform: $t;
}

@mixin transition($t) {
  -webkit-transition: all $t ease-in-out;
  -moz-transition: all $t ease-in-out;
  -ms-transition: all $t ease-in-out;
  -o-transition: all $t ease-in-out;
  transition: all $t ease-in-out;
}

@mixin blur($b) {
  -webkit-filter: blur($b)!important;
  -moz-filter: blur($b)!important;
  -o-filter: blur($b)!important;
  -ms-filter: blur($b)!important;
  filter: blur($b)!important;
}

@mixin absoluteCenter() {
  /* Should be placed inside relatively positioned container */
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@mixin absoluteHorizontalCenter() {
  /* Should be placed inside relatively positioned container */
  position: absolute;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@mixin absoluteVerticalCenter() {
  /* Should be placed inside relatively positioned container */
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

@mixin resetAbsoluteCenter() {
  /* Should be placed inside relatively positioned container */
  position: absolute;
  top: auto;
  left: auto;
  margin-right: auto;
  -webkit-transform: translate(0%);
  -moz-transform: translate(0%);
  -ms-transform: translate(0%);
  -o-transform: translate(0%);
  transform: translate(0%);
}

@mixin resetAbsoluteVerticalCenter() {
  /* Should be placed inside relatively positioned container */
  position: absolute;
  top: auto;
  -webkit-transform: translate(0%);
  -moz-transform: translate(0%);
  -ms-transform: translate(0%);
  -o-transform: translate(0%);
  transform: translate(0%);
}


@mixin resetAbsoluteHorizontalCenter() {
  /* Should be placed inside relatively positioned container */
  position: relative;
  left: auto;
  margin-right: auto;
  -webkit-transform: translate(0%, 0%);
  -moz-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  -o-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
}

@mixin drop-shadow($i, $h, $v, $b, $cr, $cg, $cb, $o) {
  -webkit-box-shadow: $i $h $v $b rgba($cr, $cg, $cb, $o);
  -moz-box-shadow: $i $h $v $b rgba($cr, $cg, $cb, $o);
  box-shadow: $i $h $v $b rgba($cr, $cg, $cb, $o);
}

@mixin opacity($o, $oo){
  /* Required for IE 5, 6, 7 */
  /* ...or something to trigger hasLayout, like zoom: 1; */
  width: 100%;

  /* This works in IE 8 & 9 too */
  /* ... but also 5, 6, 7 */
  filter: alpha(opacity=$oo);

  /* Older than Firefox 0.9 */
  -moz-opacity: $o;

  /* Safari 1.x (pre WebKit!) */
  -khtml-opacity: $o;

  /* Modern!
  /* Firefox 0.9+, Safari 2?, Chrome any?
  /* Opera 9+, IE 9+ */
  opacity: $o;
}

//Prevents hover flicker
@mixin no-flick() {
  -webkit-transform: translate3d(0, 0, 0)!important;
}


